<%= render 'layouts/token_header' %>

<body>
    

	<div>title |detail|tag|price|holder|token_id</div> 
<% @tokens.each do |token| %>
  <p>
    <%= token.title %> |<%= token.detail %>| <%= token.tag %> | <%= token.price %> | <%= token.holder %> | <%= token.token_id %> 
    <%if not token.admin%><%= button_to "bid", {controller: 'token', action: 'purchase'}, {method: :get, params: {token_id:(token.token_id)}, data: { confirm: 'do you purchase it?'} } %><%end%>
  </p>
<% end %>
</h2>

<br>
<!-- Lancers Code START -->
<a href="https://www.lancers.jp/affiliate/track?id=2484168&link=%2Fmenu%2Fdetail%2F1247075" target="_blank" rel="nofollow">
出品されていない課題の悩み、運営に直接依頼しませんか？</a>
<!-- Lancers Code END -->

</body>
